<div class="container">
  <h3 class="text-center">Contact us</h3>
  
  <%= form_for "/contacts" do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :comments %>
      <%= f.text_area :comments %>

    <%= f.submit 'Submit' %>
  <% end %>
</div>